

.mainmenu li:hover li:hover a,.bordered-btn, input[type="submit"], button[type="submit"],.case-study-wrap,.owl-dots div.active,.single-testimonial-box.active
 .testimonil-content{
    background:#e74c3c;
}

.single-price-box:hover .price-value,.single-service-box:hover .icon-box, .single-service-box:hover a.service-read-more-btn, .single-service-box:hover .icon-module-content h5 ,.mainmenu li >a:hover ,.mainmenu li:hover li:hover a,.price-value{
    color: #e74c3c
}

.single-price-box:hover, .price-heading, .single-price-box:hover, .single-service-box:hover{
    border-color: #e74c3c;
}

.testimonil-content:after{
    border-color: transparent #e74c3c transparent transparent;
}