/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus textare:focus, input:focus, button:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, p, blockquote,
pre, form, fieldset, table, th, td { margin: 0; padding: 0; }
body {
    font-family: 'Roboto', sans-serif;
}
a,a:hover { text-decoration: none; color: inherit}

.list-bg-1{
    background-image: url(img/eat&drinks-1.jpg)
}
.list-bg-2{
    background-image: url(img/eats&drinks-2.jpg)
}
.list-bg-3{
    background-image: url(img/event2.jpg)
}
.list-bg-4{
    background-image: url(img/group-fitness.jpg)
}
.list-bg-5{
    background-image: url(img/gym.jpeg)
}
.list-bg-6{
    background-image: url(img/shops.jpg)
}
.list-bg-7{
    background-image: url(img/shops2.jpg)
}
.list-bg-8{
    background-image: url(img/eat&drinks-1.jpg)
}


.section-padding {
    padding: 100px 0;
}
.section-title {
    font-size: 20px;
    margin-bottom: 50px;
}
.section-title h2 {
    margin-bottom: 20px;
}
.single-listing-items {
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
    height: 350px;
    overflow: hidden;
    position: relative;
}
.list-hover {
    bottom: 30px;
    color: #ddd;
    font-size: 18px;
    left: 10%;
    position: absolute;
    text-align: center;
    width: 80%;
    z-index: 2;
}
.single-listing-items::after {
    background: #000 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.bordered-btn {
    border: 1px solid #ddd;
    border-radius: 50px;
    display: inline-block;
    font-weight: 700;
    margin-top: 10px;
    padding: 10px 25px;
    text-transform: capitalize;
}

.listing-carousel .owl-nav div {
    font-size: 40px;
    left: -50px;
    line-height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
}
.listing-carousel .owl-nav div .owl-next {
    left: auto;
    right: -50px;
}
.listing-carousel .owl-nav div.owl-next {
    left: auto;
    right: -50px;
}
.listing-carousel.owl-carousel .owl-stage-outer {
    overflow: inherit;
}
.section-padding.listing-carousel-wrapper {
    overflow-x: hidden;
}
.listing-carousel {
    position: relative;
}
.listing-carousel::before, .listing-carousel::after {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: -500%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 500%;
    z-index: 1;
}
.listing-carousel::after {
    left: auto;
    right: -500%;
}
.listing-carousel .owl-controls .owl-dots div {
    border: 2px solid #dfdfdf;
    border-radius: 50%;
    display: inline-block;
    height: 16px;
    margin: 0 5px;
    width: 16px;
}
.listing-carousel .owl-controls .owl-dots {
    margin-top: 20px;
    text-align: center;
}
.listing-carousel .owl-dot.active {
    background: #dfdfdf none repeat scroll 0 0;
}
