/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus textare:focus, input:focus, button:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-family: 'Roboto', sans-serif;
}
a,a:hover { text-decoration: none; color: inherit}

.gradient-overlay-wrap{
    background-image: url(assets/img/bg-1.jpg);
}
.gradient-overlay-wrap:after{
    background: #1f5899;
    background: -moz-linear-gradient(-45deg, #1f5899 1%, #1e5799 1%, #1e5799 2%, #1e5799 2%, #d9aec2 100%);
    background: -webkit-linear-gradient(-45deg, #1f5899 1%,#1e5799 1%,#1e5799 2%,#1e5799 2%,#d9aec2 100%);
    background: linear-gradient(135deg, #1f5899 1%,#1e5799 1%,#1e5799 2%,#1e5799 2%,#d9aec2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f5899', endColorstr='#d9aec2',GradientType=1 )
}


.gradient-overlay-wrap {
    position: relative;
    z-index: 1;
}
.gradient-overlay-wrap::after {
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.9;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.logo img {
    max-height: 90px;
    max-width: 165px;
}
.main-menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: right;
}
.main-menu ul li {
    display: inline-block;
}
.main-menu ul li a {
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.8;
    padding: 28px;
    text-transform: capitalize;
}
.header-area {
    padding: 10px 0;
    position: relative;
    z-index: 1;
}
.header-area::after {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    opacity: 0.1;
    position: absolute;
    width: 100%;
}
.main-menu li:hover a {
    opacity: 1;
}
.mobile-screen {
    bottom: 0;
    max-width: 300px;
    position: absolute;
    right: 0;

}
.hero-text h1 {
    font-size: 45px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 30px;
    text-transform: capitalize;
}
.hero-text {
    color: #fff;
    max-width: 500px;
    padding-bottom: 50px;
    padding-top: 150px;
    z-index: 33;
}
.hero-text p {
    opacity: 0.8;
}
.heroe-btn {
    margin-bottom: 50px;
    margin-top: 50px;
}
.bordered-btn {
    border: 1px solid #fff;
}
.heroe-btn a {
    border-radius: 50px;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    padding: 12px 30px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.underline-btn {
    text-decoration: underline;
}
.bordered-btn:hover {
    background: rgba(68, 34, 131, 0.5) none repeat scroll 0 0;
    box-shadow: 0 0 5px;
}
