/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus textare:focus, input:focus, button:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, p, blockquote,
pre, form, fieldset, table, th, td { margin: 0; padding: 0; }
body {
    font-family: 'Roboto', sans-serif;
}
a,a:hover { text-decoration: none; color: inherit}


.single-boxed-item {
  background-color: #ddd;
  background-image: url("assets/img/7.jpg");
  background-position: center center;
  background-size: cover;
  height: 600px;
  position: relative;
}
.boxed-bg-2{background-image: url(assets/img/9.jpg);}
.boxed-bg-3{background-image: url(assets/img/8.jpg);}
.boxed-bg-4{background-image: url(assets/img/8.jpg);}
.boxed-bg-5{background-image: url(assets/img/9.jpg);}


.section-title {
    margin-bottom: 50px;
}
.section-padding {
    padding: 100px 0;
}
.row.no-padding {
    margin: 0;
}
.row.no-padding .col-md-4 {
    padding: 0;
}
.single-boxed-item.half-size {
    height: 300px;
}
.single-boxed-hover {
    color: #fff;
    height: 84%;
    left: 10%;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 8%;
    transition: all 1.3s ease 0s;
    visibility: hidden;
    width: 80%;
    z-index: 1;
}
.single-boxed-hover::after {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 100%;
    z-index: -1;
}
.single-boxed-table {
    display: table;
    height: 100%;
    width: 100%;
}
.single-boxed-tablecell {
    display: table-cell;
    vertical-align: middle;
}
.single-boxed-item:hover .single-boxed-hover {
  opacity: 1;
  visibility: visible;
  transform: skewX(-6deg);
}

.section-title h2 {
    margin-bottom: 20px;
}
.icon-bar {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 15px;
}
.single-boxed-item h4 {
    margin-bottom: 10px;
    text-transform: capitalize;
}

