/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus textare:focus, input:focus, button:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-family: 'Roboto', sans-serif;
}
a,a:hover { text-decoration: none; color: inherit}

.section-bg-1{background-image: url(assets/img/bg-1.jpg)}


.section-padding {
    background-position: center top;
    background-size: cover;
    padding: 100px 0;
    position: relative;
}

.single-price-box {
    border-right: 1px solid #555;
    float: left;
    width: 33.333%;
}
.single-price-box:last-child {
    border-right: 0 none;
}
.price-boxes {
    box-shadow: 0 0 30px #444;
    overflow: hidden;
}
.single-box-img img {
    max-height: 120px;
    max-width: 180px;
}
.single-box-img {
    display: table;
    height: 100%;
    width: 100%;
}
.single-box-img-wrap {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.price-box-inner {
    background: #fff none repeat scroll 0 0;
    padding: 20px;
}
.price-box-inner h2 {
    color: #5ab;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}
.price-box-inner h2::before {
    background: #5ab none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 3px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
}

.price-content span {
    color: #dd6578;
    display: inline-block;
    font-size: 35px;
    position: relative;
}
.price-content span::before {
    content: "$";
    font-size: 25px;
    font-weight: 400;
    left: -14px;
    position: absolute;
    top: 0;
}
.price-content span::after {
    content: "/mo";
    font-size: 22px;
    font-weight: 400;
}
.price-content {
    padding-left: 15px;
    position: relative;
    text-align: left;
}
.price-box-inner ul {
    list-style: outside none none;
    margin: 0;
    padding: 0 0 0 30px;
    text-align: left;
}
.price-box-inner ul li {
    color: #333;
    font-size: 15px;
    line-height: 1.8;
}
.price-btn {
    background: #55aabb none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    padding: 10px 20px;
    transition: all 0.3s ease 0s;
}
.price-btn:hover, .price-btn.active:hover {
    background: #eee none repeat scroll 0 0;
}
.price-btn.active {
    background: #dd6578 none repeat scroll 0 0;
}
.price-btn:hover .active {
    background: #333 none repeat scroll 0 0;
}
.single-price-box::after {
    background: #333 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 100%;
    opacity: 0.3;
    position: absolute;
    right: 0;
    width: 1px;
}
.single-price-box:last-child::after {
    display: none;
}
