/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus textare:focus, input:focus, button:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-family: 'Droid Serif', serif;
    font-weight: 700;
}
body {
    font-family: 'Montserrat', sans-serif;
}
a,a:hover { text-decoration: none; color: inherit}



.section-padding {
    padding: 20px 0;
}
.colored-bg {
    background: #79d4d9 none repeat scroll 0 0;
    position: relative;
}
.lady-img {
    bottom: 0;
    max-height: 732px;
    position: absolute;
    right: -31px;
}
.slide-text {
    color: #fff;
    max-height: 732px;
    max-width: 500px;
    padding-bottom: 130px;
    padding-left: 50px;
    padding-top: 100px;
}
.top-ticker-text {
    font-size: 22px;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}
.top-ticker-text::before {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    width: 40px;
}
.slide-text h1 {
    font-size: 49px;
    font-weight: 400;
    margin: 50px 0 60px;
    text-transform: capitalize;
}
.slide-text p {
    font-size: 16px;
    line-height: 30px;
}
.boxed-btn {
    background: #f5f45e none repeat scroll 0 0;
    border-radius: 50px;
    box-shadow: 0 15px 25px #e4e350;
    color: #5b5c4f;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 25px;
    text-transform: uppercase;
}
.slide-text .boxed-btn {
    margin-top: 30px;
}
