/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus textare:focus, input:focus, button:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #8e8e93;
    line-height: 1.8;
}
a,a:hover { text-decoration: none; color: inherit}


/*-- Welcome area Start-- */

.header-bg {
    background: rgb(75,50,193);
    background: -moz-linear-gradient(45deg, rgb(75,50,193) 0%, rgb(82,63,211) 26%, rgb(179,88,233) 37%, rgb(250,76,232) 51%, rgb(250,76,232) 61%, rgb(250,76,232) 100%);
    background: -webkit-linear-gradient(45deg, rgb(75,50,193) 0%,rgb(82,63,211) 26%,rgb(179,88,233) 37%,rgb(250,76,232) 51%,rgb(250,76,232) 61%,rgb(250,76,232) 100%);
    background: linear-gradient(45deg, rgb(75,50,193) 0%,rgb(82,63,211) 26%,rgb(179,88,233) 37%,rgb(250,76,232) 51%,rgb(250,76,232) 61%,rgb(250,76,232) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b32c1', endColorstr='#fa4ce8',GradientType=1 );
    position: relative;
    z-index: -1;
}
.header-bg:after {
    background-image: url(assets/img/bg.png);
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-size: cover;
    opacity: .4;
}
.header-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-menu li {
  display: inline-block;
  margin-right: 24px;
  margin-top: 1px;
}
.header-menu li a {
  display: inline-block;
  color: #fff;
  font-size: 16px;
}
.signup-btn {
  background: #ff29bd;
  padding: 9px 25px;
  border-radius: 50px;
  font-weight: 700;
  font-size: 16px;
    display: inline-block;
    transition: .3s;
}
.header-area {
  padding: 60px 0;
  position:relative;
  z-index: 1;
}
.logo img {
    max-width: 122px;
    margin-left: 50px;
}
.hero-content {
  font-size: 38px;
  color: #fff;
  padding: 130px;
}
.hero-content h1 {
  margin-bottom: 40px;
  font-weight: 400;
}
.hero-content i.fa {
    font-size: 14px;
    color: #fff;
    border: 1px solid #ddd;
    height: 50px;
    width: 52px;
    border-radius: 50%;
    display: inline-block;
    line-height: 46px;
    text-align: center;
    background: #ddd;
    opacity: .8;
    margin-bottom: 30px;
}
.hero-content p {
  margin-top: 40px;
  font-size: 18px;
  line-height: 30px;
  color: #ddd;
}
.hero-btn {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 35px;
  background: #ff298e;
  border-radius: 50px;
  margin-top: 45px;
    display: inline-block;
    font-weight: 700;
}
/*-- Welcome area End-- */



/*--Single Work CSS End---*/
.section-padding{
    padding: 50px 0;
}
.section-heading {
    text-align: center;
}
.section-heading h1 {
    color: #333;
    font-weight: 300;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.section-heading > p {
  letter-spacing: 1px;
    margin-bottom: 30px;
}
.single-work-item {
  box-shadow: 0 0 15px #ddd;
  height: 400px;
  padding: 66px 0;
  text-align: center;
 
}

.single-work-item p {
    margin: 50px 0;
}

.work-bg-1{background: #ddd url("assets/img/work-area-bg-1.png") repeat scroll center top / cover }
.work-bg-2{background: #ddd url("assets/img/work-area-bg-2.png") repeat scroll center top / cover }
.work-bg-3{background: #ddd url("assets/img/work-area-bg-3.png") repeat scroll center top / cover }

/*--Single Work CSS End---*/


/*--Service CSS Start---*/

.service-area {
    position: relative;
    color: #fff;
    padding: 100px 0;
}
.service-area .section-heading h1{
    color: #fff;
}
.service-area {
    background: rgb(75,50,193);
    background: -moz-linear-gradient(45deg, rgb(75,50,193) 0%, rgb(82,63,211) 26%, rgb(179,88,233) 37%, rgb(250,76,232) 51%, rgb(250,76,232) 61%, rgb(250,76,232) 100%);
    background: -webkit-linear-gradient(45deg, rgb(75,50,193) 0%,rgb(82,63,211) 26%,rgb(179,88,233) 37%,rgb(250,76,232) 51%,rgb(250,76,232) 61%,rgb(250,76,232) 100%);
    background: linear-gradient(45deg, rgb(75,50,193) 0%,rgb(82,63,211) 26%,rgb(179,88,233) 37%,rgb(250,76,232) 51%,rgb(250,76,232) 61%,rgb(250,76,232) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b32c1', endColorstr='#fa4ce8',GradientType=1 );
    position: relative;
    z-index: -1;
}
.service-area::before {
  background-image: url(assets/img/bg.png);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-size: cover;
  background-position: center;
}


.single-service-items {
    text-align: center;
}
.single-service-items  h4 {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.service-icon {
    font-size: 25px;
    margin-bottom: 41px;
}

/*--Service CSS End---*/
.mrg-btm-40{
    margin-bottom: 40px;
}




/*--Price CSS Start---*/
.price-list > span {
    color: #000;
    display: inline-block;
    font-size: 45px;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
}
span.price-value {
    font-size: 100px;
}
.price-list {
    background-color: #fff;
    background-image: url("assets/img/price-sec-bg.png");
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0 5px #ddd;
    height: 378px;
    margin: -20px;
    text-align: center;
}
.pricing-area {
    background-color: #fff;
    background-image: url("assets/img/pricing-sec-bg.png");
    background-position: center center;
    background-size: cover;
}
.price-content {
    color: #fff;
    font-size: 20px;
    padding: 110px 0;
}
/*--Price CSS End---*/


/*--Testimonial CSS start---*/

.testimonial-area {
    padding: 180px 0;
    text-align: center;
}
.single-testimonial-link p {
  margin-bottom: 20px;
}
.single-testimonial-link > h4 {
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
}
.single-testimonial-link span {
    color: #aaaaaa;
    display: block;
    font-size: 81%;
    margin-top: 12px;
    text-transform: capitalize;
}



.testimonial-list .owl-controls .owl-dots div {
    border: 2px solid #e6e6e6;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    left: 50%;
    margin: 0 5px;
    width: 12px;
    transition: .3s;
}

.testimonial-list .owl-controls .owl-dots {
    left: 50%;
    margin-left: -50px;
    position: absolute;
    bottom: -100px;
}
.testimonial-list .owl-controls .owl-dots div.active {
    background: #000 none repeat scroll 0 0;
}

/*--Testimonial CSS End---*/


/*--Partner CSS Start---*/

.partner-area {
    background: #f5f5f5 none repeat scroll 0 0;
    padding: 50px 0;
}
.partner-area a img {
    margin: 0 25px;
    max-height: 30px;
}
/*--Partner CSS End---*/


/*--Project CSS Start---*/
.cmn-btn {
    background: #ff2a8c none repeat scroll 0 0;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    padding: 10px 25px;
    text-transform: uppercase;
}
.project-area-bg {
  background-color: #ddd;
  background-image: url("assets/img/project-bg.jpg");
}

.project-area {
  padding: 50px 0;
    min-height: 332px;
    position: relative;
}

.project-overlay {
    background: #2a343f none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
}


.project-btn {
    margin-top: 15px;
}
.project-content {
  padding: 30px 0;
}
/*--Project CSS End---*/

/*--Footer CSS Start---*/

.footer-area {
    background: #1a1a1a none repeat scroll 0 0;
    padding: 25px 0;
    width: 100%;
}
.footer-menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer-menu ul li {
    display: inline-block;
    padding-left: 30px;
    padding-top: 13px;
    text-transform: capitalize;
}

/*--Footer CSS End---*/


