/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus textare:focus, input:focus, button:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, p, blockquote,
pre, form, fieldset, table, th, td { margin: 0; padding: 0; }
body {
    font-family: 'Roboto', sans-serif;
}
a,a:hover { text-decoration: none; color: inherit}



.mainmenu-area ul {
    background: #324063 none repeat scroll 0 0;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.mainmenu-area ul li {
    display: inline-block;
}
.mainmenu-area ul li a {
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
    text-transform: uppercase;
}

.mainmenu-area li {
    position: relative;
}
.mainmenu-area li ul {
    left: 2%;
    opacity: 0;
    position: absolute;
    top: 120%;
    transition: all 0.4s ease 0s;
    visibility: hidden;
    width: 200px;
    z-index: 2;
}
.mainmenu-area li ul li {
    border-bottom: 1px solid #fff;
    display: block;
}
.mainmenu-area li ul li:hover a {
    margin-left: 3px;
}
.mainmenu-area li ul li a {
    text-transform: capitalize;
    color: #333;
    transition: .4s;
}
.mainmenu-area li:hover ul {
    left: 0;
    opacity: 1;
    top: 100%;
    visibility: visible;
    background: #ddd;
}
.mainmenu-area ul li:hover > a {
    background: #ddd none repeat scroll 0 0;
    color: #333;
}


.single-box-item{background-image: url(assets/img/7.jpg)}
.boxed-bg-1{background-image: url(assets/img/8.jpg)}
.boxed-bg-2{background-image: url(assets/img/9.jpg)}
.boxed-bg-3{background-image: url(assets/img/9.jpg)}
.boxed-bg-4{background-image: url(assets/img/8.jpg)}




.section-padding {
    padding: 100px 0;
}
.section-titel {
    margin-bottom: 45px;
    text-align: center;
}
.section-titel h2 {
    margin-bottom: 30px;
}
.single-box-item {
    background-color: #ddd;
    background-position: center center;
    background-size: cover;
    height: 600px;
    position: relative;
}
.single-box-item.half-size {
    height: 300px;
}
.row.nopadding {
    margin: 0;
}
.row.nopadding .col-md-4 {
    padding: 0;
}
.boxed-item-hover {
    color: #f4e;
    height: 80%;
    left: 7%;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 10%;
    transition: all 0.5s ease 0s;
    visibility: hidden;
    width: 86%;
    z-index: 1;
}
.boxed-item-hover::after {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.boxed-item-table {
    display: table;
    height: 100%;
    width: 100%;
}
.boxed-item-tablecell {
    display: table-cell;
    vertical-align: middle;
}
.larg-img {
    color: #f4e;
    display: inline-block;
    font-size: 21px;
    margin-bottom: 15px;
}
.boxed-item-hover h4 {
    margin-bottom: 15px;
}
.single-box-item:hover .boxed-item-hover {
    opacity: 1;
    visibility: visible;
}
/* Second label menu*/


.mainmenu-area li:hover ul ul {
    left: 105%;
    opacity: 0;
    top: 0;
    transition: all 0.3s ease 0s;
    visibility: hidden;
}
.mainmenu-area li:hover ul li:hover ul {
    left: 100%;
    opacity: 1;
    visibility: visible;
}


