
.hero-area{
    background: url(../img/hero-2.jpg);
}


.bordered-btn, input[type="submit"], button[type="submit"]{
    background: #06d6a0;
}
.hero-content h1 {
    color: #fff;
    font-size: 47px;
    margin-top: 80px;
}
.hero-area {
    color: #fff;
}
.single-bolg-post {
    border: 1px solid #f2f2f2;
    padding: 30px;
    transition: all 0.2s ease 0s;
}
.single-bolg-post  h4 {
    font-size: 20px;
}
.single-bolg-post p {
    color: #999;
    line-height: 24px;
}

.single-bolg-post:hover {
    background: #f5f5f5 none repeat scroll 0 0;
}

.cta-area h2 {
    color: #fff;
}


.social-links li {
  display: block;
}

