/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus textare:focus, input:focus, button:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-family: 'Roboto', sans-serif;
}
a,a:hover { text-decoration: none; color: inherit}

.welcome-area{
    background-image: url(assets/img/Radio.jpg);
}

body, html {
    height: 100%;
}
.welcome-area {
    height: 100%;
    position: relative;
    z-index: 1;
}
.welcome-area::after {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.2;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.log img {
    max-width: 40px;
    padding-right: 5px;
}
.log a {
    color: #ec4248;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
}
.mainmenu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.mainmenu li {
  display: inline-block;
}

.mainmenu a {
    border-radius: 50px;
    color: #333;
    display: block;
    padding: 5px 25px;
    text-transform: capitalize;
}
.mainmenu li.borderd a {
    border: 1px solid;
    color: #ce4248;
}
.log {
    margin-top: 6px;
}
.hearder-area {
    left: 0;
    padding: 12px 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
}
.copyright-area {
    background-color: #3f3e3c;
    bottom: 0;
    color: #ccc;
    font-size: 85%;
    padding: 10px 0;
    position: absolute;
    width: 100%;
}
.copyright-area ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.copyright-area ul li {
    display: inline-block;
    padding-left: 20px;
    text-transform: capitalize;
}
.hero-area-table {
    display: table;
    height: 100%;
    width: 100%;
}
.hero-area-table-cell {
    display: table-cell;
    vertical-align: middle;
}
.hero-text {
    font-size: 20px;
}
.hero-text h1 {
    font-size: 45px;
    font-weight: 800;
}
.email-subscribe-form {
    margin-top: 30px;
}
.email-subscribe-form > p {
    font-size: 14px;
}
.email-subscribe-form {
    max-width: 500px;
}
.email-subscribe-form input[type="email"] {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    font-weight: 400;
    padding: 10px;
    width: 57%;
}
button[type="submit"] {
    background: #ce4248 none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    margin-left: 1%;
    padding: 10px;
    text-transform: uppercase;
}
.social-links a {
    color: #333;
    display: inline-block;
    font-size: 20px;
    margin: 10px;
}

