/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus textare:focus, input:focus, button:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-family: 'Roboto', sans-serif;
}
.hero-area-medile-content h3{
    font-family: 'Mr De Haviland', cursive;
}
a,a:hover { text-decoration: none; color: inherit}

.wecome-header-area{
    background-image: url(assets/img/food-salad-restaurant-person.jpg)
}


body, html {
    height: 100%;
}
.wecome-header-area {
    height: 100%;
    position: relative;
    z-index: 1;
}
.logo a {
    color: #fff;
    display: inline-block;
    font-size: 25px;
    letter-spacing: 4px;
    padding-bottom: 8px;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
}
.logo a::after {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.logo h1 {
    font-size: -34px;
    font-weight: 400;
    margin: 0;
    z-index: 1;
}
.header-area {
    left: 0;
    padding: 13px 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.mainmenu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.mainmenu li {
    display: inline-block;
    margin-top: 16px;
    padding-left: 33px;
}
.mainmenu ul li a {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
}
.mainmenu ul li a::after {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}
.wecome-header-area::after {
    background: #333 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.hero-area-tabel {
    display: table;
    height: 100%;
    text-align: center;
    width: 100%;
}

.hero-area-tabelecell {
    display: table-cell;
    vertical-align: middle;
}
.hero-area-medile-content h3 {
    color: #c08b1c;
    font-size: 100px;
    line-height: 30px;
}
.hero-area-medile-content h1 {
    color: #fff;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.hero-area-medile-content p {
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 3px;
	margin-top: 15px;
}

.borderd-area {
    margin: 0 auto;
    overflow: hidden;
    max-width: 300px;
}
.border-left, .border-right {
  background: #fff none repeat scroll 0 0;
  float: left;
  height: 2px;
  margin-top: 8px;
  position: relative;
  width: 43%;
}

.border-left:before{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 4px 8px;
    border-color: transparent transparent transparent #ffffff;
    margin-top: -3px;
 
}
.border-right:before{
    content: "";
    position: absolute;
   border-style: solid;
    border-width: 4px 8px 4px 0;
    border-color: transparent #ffffff transparent transparent;f;
    right: 0;
    margin-top: -3px;

}

.borderd-area i.fa {
  color: #c08b1c;
  display: inline-block;
  float: left;
  font-size: 18px;
  margin: 0 8px;
}

.scroll-to-down {
  bottom: 35px;
  color: #fff;
  font-size: 40px;
  height: 40px;
  left: 50%;
  opacity: 0.7;
  position: absolute;
  width: 40px;
}
